@page
@model Formulario.Pages.NotasModel
@{
}

<h1>Calculo de notas</h1>
<hr />

<form method="post">
    <div>
        <label>Primeira Nota:</label>
        <input asp-for="Nota1" type="number" step="0.1" class="form-control"/>
    </div>

    <div>
        <label>Segunda Nota:</label>
        <input asp-for="Nota2" type="number" step="0.1" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Calcular</button>
</form>

<br />

@if(Model.Media.HasValue)
{
    <div class="alert alert-info">
        <h3>Média: @Model.Media</h3>
        <p>Situação: <strong>@Model.ResultadoFinal</strong></p>
    </div>
}